// MEDIA QUERIES - MOBILE SCREEN

// SITE-NAV ON HOME PAGE | HIDDEN ON LARGE SCREENS
@media (min-width: 768px) {
    .main-page {
        position: absolute;
        top: -9999px;
    }
}

@media (max-width: 768px) {

    // SITE-NAV

    .site-nav {

        button {
            background-color: transparent;
            border: none;
            padding: 1em;
            opacity: 1 !important;

            .hide-visually {
                position: absolute;
                top: -99999px;
            }

            svg {
                fill: $button-color;
                cursor: pointer;
            }
        }

        .navicon-top-one {
            animation: separated-top-one-close .3s linear 0s forwards;
            transform-origin: left top;
        }

        .navicon-top-two {
            animation: separated-top-two-close .3s linear 0s forwards;
            transform-origin: right top;
        }

        .navicon-middle-one {
            animation: separated-middle-one-close .5s forwards;
        }

        .navicon-middle-two {
            animation: separated-middle-two-close .5s forwards;
        }

        .navicon-bottom-one {
            animation: separated-bottom-one-close .3s linear 0s forwards;
            transform-origin: right top;
        }

        .navicon-bottom-two {
            animation: separated-bottom-two-close .3s linear 0s forwards;
            transform-origin: left top;
        }

        &[data-navstate="open"] {

            ul {
                transform: translate(0, 0);
            }

            .navicon-top-one {
                animation: separated-top-one-open .3s linear 0s forwards;
                transform-origin: left top;
            }

            .navicon-top-two {
                animation: separated-top-two-open .3s linear 0s forwards;
                transform-origin: right top;
            }

            .navicon-middle-one {
                animation: separated-middle-one-open .3s forwards;
            }

            .navicon-middle-two {
                animation: separated-middle-two-open .3s forwards;
            }

            .navicon-bottom-one {
                animation: separated-bottom-one-open .3s linear 0s forwards;
                transform-origin: right top;
            }

            .navicon-bottom-two {
                animation: separated-bottom-two-open .3s linear 0s forwards;
                transform-origin: left top;
            }
        }

        &[data-navstate="closed"] {
            ul {
                transform: translate(0, -100%);
            }
        }

        ul {
            position: fixed;
            background-color: $accent-color;
            width: 100vw;
            min-height: 100vh;
            display: grid;
            flex-direction: column;
            place-content: center;
            text-align: center;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            transition: all .3s ease-out;
            z-index: -1;
        }
    }

    // HOME PAGE

    .site-main {
        display: flex;
        flex-direction: column;
        align-items: center;

        .hero {
            background-image: none;
            display: flex;
            // border: 1px solid red;
            height: 50vh;

            .container {

                .all-recipes-links {
                    background-color: transparent;
                    backdrop-filter: blur(0px);
                    margin-bottom: 0;

                    h1 {
                        color: #333;
                    }

                    a {
                        .icon {
                            &.arrow {
                                &::before {
                                    border-top-color: $button-color;
                                    border-right-color: $button-color;
                                }
                            }
                        }
                    }
                }
            }
        }

        .recipe-links {

            .container {
                height: auto;

                .links {
                    margin: 0 0 0 -2em;

                    a {
                        margin: 1em 0;
                    }
                }
            }
        }
    }

    //  ALL RECIPES PAGE

    .all-recipes-filter {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        button {
            margin: 1em;
        }
    }

    .recipe-card {
        max-width: 500px;

        .recipe-card-image {
            position: absolute;
            opacity: 0;
        }

        .recipe-card-info {
            display: flex;
            flex-direction: column;
            align-items: center;

            .recipe-card-title {
                margin: 1em;
            }

            .recipe-card-details {

                ul {
                    display: flex;
                    flex-direction: column;
                    line-height: 1.5;
                }
            }
        }
    }

    // RECIPE TEMPLATE

    .recipe-template-main {
        margin: 0;

        .hero {
            margin: 10em 0 0 0;

            .recipe-title {
                margin: 1em;

                h1 {
                    margin: 1em 0;
                }
            }

            .recipe-details {

                ul {
                    display: flex;
                    flex-direction: column;
                    margin: 0;
                }
            }
        }

        .recipe-ingredients {
            display: flex;
            flex-direction: column-reverse;

            .ingredients-list {
                margin: 0;
            }

            .ingredients-image {

                img {
                    width: 95vw;
                    height: 100%;
                    margin: 0;
                }
            }
        }

        .recipe-buttons {
            display: flex;
            flex-direction: column;
            padding: 0;

            .button {
                border: none;
                font-weight: 700;

                &:hover {
                    color: $button-color;
                }

                &:after {
                    background-color: transparent;
                    border: none;
                    animation: none;
                }
            }
        }

        .recipe-directions {
            .directions-image {
                position: absolute;
                opacity: 0;
            }

            .directions-list {
                margin-left: 2em;

                ul {
                    margin: 0 2em;
                }
            }
        }
    }

    // UPLOAD A RECIPE

    .recipe-form {
        max-width: 75vw;

        form {

            input[type="text"],
            input[type="file"],
            textarea {
                max-width: 60vw;
            }

            .recipe-upload-added-ingredient {
                display: flex;
                flex-direction: column;

                .added-ingredient-list {

                    .ingredient-list {
                        max-width: 50vw;
                        max-height: 100% !important;

                        li {
                            line-height: 1em;

                            span {
                                font-size: 80%;
                                margin: 0;
                            }

                            .remove-item {
                                padding: .5em;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    // SELECTED RECIPES 

    .recipe-chosen-main {

        .recipe-chosen-ingredients-list {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;

            .recipe-chosen-singles-list {
                margin: 0;

                .swiper {
                    min-width: 75vw;

                    span {
                        color: #333 !important;
                        text-transform: capitalize !important;
                        letter-spacing: normal !important;
                    }
                }
            }

            .recipe-chosen-all-ingredients-list {
                margin: 2em 0;
                width: 75vw;
            }
        }
    }
}