.recipe-chosen-main {
    margin: 10em 3em;

    .recipe-chosen-title {
        display: flex;
        justify-content: center;
        // margin: 5em;

        h1 {
            border: 1px solid #333;
            padding: 1em;
            font-size: clamp(1em, 3vw, 3em);
        }
    }

    .recipe-chosen-ingredients-list {
        display: flex;

        .chosen-recipe-tab {
            position: relative;
            margin: 1em;
            width: 50vw;
            // border: 1px solid red;

            .tab {
                margin-bottom: 1px;
                float: left;
                clear: left;

                .tab-toggle {
                    border: 1px solid $button-color;
                    background-color: $accent-color;
                    color: $link-color;
                    text-transform: uppercase;
                    border-radius: 10px;
                    position: relative;
                    padding: 1em 2em;
                    margin: .5em 0;
                    width: 150px;
                    cursor: pointer;
                    transition: all .5s ease-in-out;

                    &.active {
                        border: 1px solid $link-color;
                        background-color: $button-color;
                        color: $accent-color;
                    }
                }
            }

            .content {
                max-height: 0;
                width: 80%;
                position: absolute;
                right: 0;
                top: 0;
                overflow: hidden;
                padding: 0 2rem;
                opacity: 0;
                transition: all .3s ease-in-out;

                &.active {
                    border: 1px solid green;
                    max-height: 1000px;
                    opacity: 1;
                    padding: 0;
                }

                h1 {
                    text-align: center;
                }

                ul {
                    list-style: none;
                    padding: 0;

                    li {
                        display: grid;
                        align-items: center;
                        grid-template-areas: "a b c";
                        grid-template-columns: repeat(3, 33.33% [col-start]);
                        font-family: $font-sans-serif;
                        font-size: 75%;
                        line-height: 4em;

                        &:nth-child(odd) {
                            background-color: $list-item-color;
                        }

                        span {


                            &:nth-child(1) {
                                grid-area: a;
                                text-transform: uppercase;
                                letter-spacing: 2px;
                                color: $button-color;
                                font-weight: 700;
                                margin-left: 1.5em;
                                line-height: 1.5em;
                            }

                            &:nth-child(2) {
                                text-align: center;
                                grid-area: b;
                                color: #333;
                            }

                            &:nth-child(3) {
                                grid-area: c;
                                color: #333;
                                font-weight: 700;
                                font-style: italic;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }
        }
    }

    .recipe-chosen-all-ingredients-list {
        border: 1px solid #333;
        margin: 1em;
        width: 45vw;
        height: auto;

        h3 {
            margin: 0;
            text-align: center;
            font-size: 2em;
        }

        .all-ingredients-list {

            ul {
                list-style: none;
                padding: 0;

                li {
                    display: grid;
                    align-items: center;
                    grid-template-areas: "a b c";
                    grid-template-columns: repeat(3, 33.33% [col-start]);
                    font-family: $font-sans-serif;
                    font-size: 75%;
                    line-height: 4em;

                    &:nth-child(odd) {
                        background-color: $list-item-color;
                    }

                    span {


                        &:nth-child(1) {
                            grid-area: a;
                            text-transform: uppercase;
                            letter-spacing: 2px;
                            color: $button-color;
                            font-weight: 700;
                            margin-left: 1.5em;
                            line-height: 1.5em;
                        }

                        &:nth-child(2) {
                            text-align: center;
                            grid-area: b;
                            color: #333;
                        }

                        &:nth-child(3) {
                            grid-area: c;
                            color: #333;
                            font-weight: 700;
                            font-style: italic;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
}