a {
    color: $link-color;
    text-decoration: none;
    font-family: $font-sans-serif;
    text-transform: uppercase;
}

h1,
h2,
h3 {
    color: #333;
    font-family: $font-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}