{% extends 'base.html' %}
{% block title %}Recipe Site{% endblock %}

{% block content %}
<!--    <header class="site-header main-page">-->
<!--        <div class="site-id">-->
<!--            <a href="index.html">recipe&nbspsite</a>-->
<!--        </div>-->
<!--        <div class="section-line"></div>-->
<!--        <nav class="site-nav" data-navstate="closed">-->
<!--            <button class="menu-button">-->
<!--                <span class="hide-visually">Menu</span>-->
<!--                <svg width="80" height="24">-->
<!--                    <title>Menu</title>-->
<!--                    <rect class="navicon-top-one" x="25" y="0" height="4" width="15"></rect>-->
<!--                    <rect class="navicon-top-two" x="40" y="0" height="4" width="15"></rect>-->
<!--                    <rect class="navicon-middle-one" x="25" y="10" height="4" width="15"></rect>-->
<!--                    <rect class="navicon-middle-two" x="40" y="10" height="4" width="15"></rect>-->
<!--                    <rect class="navicon-bottom-one" x="25" y="20" height="4" width="15"></rect>-->
<!--                    <rect class="navicon-bottom-two" x="40" y="20" height="4" width="15"></rect>-->
<!--                </svg>-->
<!--            </button>-->
<!--            <ul>-->
<!--                <li><a href="index.html">Home</a></li>-->
<!--                <li><a href="all-recipes.html">All Recipes</a></li>-->
<!--                <li><a href="recipes-chosen.html">Selected Recipes</a></li>-->
<!--                <li><a href="upload-recipe.html">Upload A Recipe</a></li>-->
<!--            </ul>-->
<!--        </nav>-->
<!--    </header>-->
{% include "navbar.html" %}
    <main class="site-main">
        <section class="hero" style="background-image: url({{ url_for('static', filename='img/pizza.jpg')}});">
            <div class="container">
                <div class="all-recipes-links">
                    <h1>view<br>all<br>recipes</h1>
                    <a href="{{url_for('all_recipes')}}">
                        <span class="icon arrow"></span>
                    </a>
                </div>
            </div>
        </section>
        <section class="recipe-links">
            <div class="container">
                <div class="links">
                    <a href="{{url_for('all_recipes')}}" class="button">
                        <span class="circle" aria-hidden="true">
                            <span class="icon arrow"></span>
                        </span>
                        <span class="button-text">get started</span>
                    </a>
                    <a href="{{url_for('selected_recipe', recipe_id=1)}}" class="button">
                        <span class="circle" aria-hidden="true">
                            <span class="icon arrow"></span>
                        </span>
                        <span class="button-text">random&nbsprecipe</span></a>
                </div>
            </div>
        </section>
        <!-- connect front to back -->

        <!-- random recipe generation -->
        <!-- later: add a button to email you the list of ingredients -->
        <!-- later: login area -->
    </main>

    <script src="static/js/menu-icon.js"></script>
{% endblock %}