<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recipes</title>
</head>
<body>
{% for recipe in recipes %}
<div style="border: 3px solid black" id="{{recipe.recipe_id}}" class="recipe_card" data-meal_type="{{recipe.meal_type}}"
data-user="{{recipe.user_id}}">
<h1>{{ recipe.name }}</h1>
<ul>
    <li>
        cook time: {{recipe.cook_time}}
    </li>
    <li>
        servings: {{recipe.servings}}
    </li>
        <li>
        calories: {{recipe.calories}}
    </li>
</ul>
    <img src="{{recipe.photo_url}}" style="max-width:400px; max-height:600px;">
</div>
{% endfor %}
</body>
</html>