{% extends 'base.html' %}
{% block title %}Single Recipe{% endblock %}
<!--    <header class="site-header">-->
<!--        <div class="site-id">-->
<!--            <a href="index.html">recipe&nbspsite</a>-->
<!--        </div>-->
<!--        <div class="section-line"></div>-->
<!--        <nav class="site-nav" data-navstate="closed">-->
<!--            <button class="menu-button">-->
<!--                <span class="hide-visually">Menu</span>-->
<!--                <svg width="80" height="24">-->
<!--                    <title>Menu</title>-->
<!--                    <rect class="navicon-top-one" x="25" y="0" height="4" width="15"></rect>-->
<!--                    <rect class="navicon-top-two" x="40" y="0" height="4" width="15"></rect>-->
<!--                    <rect class="navicon-middle-one" x="25" y="10" height="4" width="15"></rect>-->
<!--                    <rect class="navicon-middle-two" x="40" y="10" height="4" width="15"></rect>-->
<!--                    <rect class="navicon-bottom-one" x="25" y="20" height="4" width="15"></rect>-->
<!--                    <rect class="navicon-bottom-two" x="40" y="20" height="4" width="15"></rect>-->
<!--                </svg>-->
<!--            </button>-->
<!--            <ul>-->
<!--                <li><a href="index.html">Home</a></li>-->
<!--                <li><a href="all-recipes.html">All Recipes</a></li>-->
<!--                <li><a href="recipes-chosen.html">Selected Recipes</a></li>-->
<!--                <li><a href="upload-recipe.html">Upload A Recipe</a></li>-->
<!--            </ul>-->
<!--        </nav>-->
<!--    </header>-->
{% block content %}
{% include "navbar.html" %}
    <main class="recipe-template-main">
        <section class="hero">
            <div class="recipe-title">
                <h1>recipe&nbsptitle</h1>
            </div>
            <div class="recipe-details">
                <ul>
                    <li><span>serves</span> <span>x People</span></li>
                    <li><span>cook time</span> <span>00 min</span></li>
                    <li><span>calories</span> <span>00</span></li>
                </ul>
            </div>
        </section>
        <section class="recipe-ingredients">
            <div class="ingredients-list">
                <h1>ingredients</h1>
                <ul>
                    <li>
                        <span class="ingredient-name">ingredient</span>
                        <span class="ingredient-amount">amount</span>
                    </li>
                    <li>
                        <span class="ingredient-name">ingredient</span>
                        <span class="ingredient-amount">amount</span>
                    </li>
                    <li>
                        <span class="ingredient-name">ingredient</span>
                        <span class="ingredient-amount">amount</span>
                    </li>
                    <li>
                        <span class="ingredient-name">ingredient</span>&nbsp<span
                            class="ingredient-amount">amount</span>
                    </li>
                    <li>
                        <span class="ingredient-name">ingredient</span>
                        <span class="ingredient-amount">amount</span>
                    </li>
                    <li>
                        <span class="ingredient-name">ingredient</span>
                        <span class="ingredient-amount">amount</span>
                    </li>
                    <li>
                        <span class="ingredient-name">ingredient</span>
                        <span class="ingredient-amount">amount</span>
                    </li>
                    <li>
                        <span class="ingredient-name">ingredient</span>
                        <span class="ingredient-amount">amount</span>
                    </li>
                    <li>
                        <span class="ingredient-name">ingredient</span>
                        <span class="ingredient-amount">amount</span>
                    </li>
                    <li>
                        <span class="ingredient-name">ingredient</span>
                        <span class="ingredient-amount">amount</span>
                    </li>
                    <li>
                        <span class="ingredient-name">ingredient</span>
                        <span class="ingredient-amount">amount</span>
                    </li>
                    <li>
                        <span class="ingredient-name">ingredient</span>
                        <span class="ingredient-amount">amount</span>
                    </li>
                </ul>
            </div>
            <div class="ingredients-image">
                <img src="img/pizza.jpg" alt="">
            </div>
        </section>
        <!-- <section class="recipe-buttons">
            <a href="#" class="button">edit</a>
            <a href="#" class="button">add to favorites</a>
            <a href="#" class="button">add to collection</a>
        </section> -->
        <section class="recipe-directions">
            <div class="directions-image">
                <img src="img/pizza.jpg" alt="">
            </div>
            <div class="directions-list">
                <h1>directions</h1>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, eius!</li>
                    <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat quasi debitis hic facere eos
                        incidunt, ea necessitatibus. Maiores dignissimos veritatis incidunt perspiciatis eius nobis
                        nostrum.</li>
                    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus harum dolores quo magni
                        recusandae praesentium!</li>
                    <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio, laboriosam?</li>
                    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At impedit reiciendis, eum optio
                        aperiam commodi.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, numquam.</li>
                    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex atque ullam asperiores aut iste, at
                        earum dolore necessitatibus eligendi magnam?</li>
                    <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima non dignissimos ipsam aliquid
                        nostrum magnam alias voluptatum quam libero mollitia magni vero, voluptas dolorem. Eos?</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, dolorum?</li>
                    <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo eum rerum architecto ipsa deserunt
                        minima?</li>
                </ul>
            </div>
        </section>
    </main>

    <script src="static/js/menu-icon.js"></script>
{% endblock %}