
{% extends 'base.html' %}
{% block title %}Recipes Chosen | Shopping List{% endblock %}
<!--    <header class="site-header">-->
<!--        <div class="site-id">-->
<!--            <a href="index.html">recipe site</a>-->
<!--        </div>-->
<!--        <div class="section-line"></div>-->
<!--        <nav class="site-nav" data-navstate="closed">-->
<!--            <button class="menu-button">-->
<!--                <span class="hide-visually">Menu</span>-->
<!--                <svg width="80" height="24">-->
<!--                    <title>Menu</title>-->
<!--                    <rect class="navicon-top-one" x="25" y="0" height="4" width="15"></rect>-->
<!--                    <rect class="navicon-top-two" x="40" y="0" height="4" width="15"></rect>-->
<!--                    <rect class="navicon-middle-one" x="25" y="10" height="4" width="15"></rect>-->
<!--                    <rect class="navicon-middle-two" x="40" y="10" height="4" width="15"></rect>-->
<!--                    <rect class="navicon-bottom-one" x="25" y="20" height="4" width="15"></rect>-->
<!--                    <rect class="navicon-bottom-two" x="40" y="20" height="4" width="15"></rect>-->
<!--                </svg>-->
<!--            </button>-->
<!--            <ul>-->
<!--                <li><a href="index.html">Home</a></li>-->
<!--                <li><a href="all-recipes.html">All Recipes</a></li>-->
<!--                <li><a href="recipes-chosen.html">Selected Recipes</a></li>-->
<!--                <li><a href="upload-recipe.html">Upload A Recipe</a></li>-->
<!--            </ul>-->
<!--        </nav>-->
<!--    </header>-->
{% block content %}
{% include "navbar.html" %}
    <main class="recipe-chosen-main">
        <section class="hero">
            <div class="recipe-chosen-title">
                <h1>selected recipes</h1>
            </div>
        </section>
        <section class="recipe-chosen-ingredients-list">
            <div class="recipe-chosen-singles-list">

                <!-- Slider main container -->
                <div class="swiper">

                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        {% for recipe in recipe_list %}
                        <div class="swiper-slide">
                            <div class="swiper-recipe-chosen-ingredients">
                                <h1>{{recipe.name}}</h1>
                                <ul>
                                    {% for ingredient in recipe.ingredients %}
                                    <li><span>{{ingredient[0]}}</span> <span>{{ingredient[1]}}</span> <span>{{ingredient[2]}}</span></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="swiper-controls">
                        <!-- If we need pagination -->
                        <!-- <div class="swiper-pagination"></div> -->

                        <!-- If we need navigation buttons -->
                        <div class="swiper-navigation-buttons">
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="recipe-chosen-all-ingredients-list">
                <div class="all-ingredients-list-title">
                    <h3>Full List of Ingredients</h3>
                </div>
                <div class="all-ingredients-list">
                    <ul>
                        {% for ingredient in ingredient_list %}
                        <li><span>{{ingredient[0]}}</span> <span>{{ingredient[1]}}</span> <span>{{ingredient[2]}}</span></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="{{url_for('static',filename='js/menu-icon.js')}}"></script>
    <script src="{{url_for('static',filename='js/swiper.js')}}"></script>

{% endblock %}